einops
einops-exts
transformers
peft==0.2.0
bigmodelvis
torch==1.13.0
torchvision
pillow
more-itertools
datasets
braceexpand
webdataset
wandb
nltk
scipy
inflection
sentencepiece
open_clip_torch
mmengine
gradio
openxlab
